<a href="https://colab.research.google.com/github/Mohammadreza-Esmaeilpour/GISMA/blob/main/naive_bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Naive Bayes
You should build a machine learning pipeline using a naive bayes model. In particular, you should do the following:
- Load the `mnist` dataset using [Pandas](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html). You can find this dataset in the datasets folder.
- Split the dataset into training and test sets using [Scikit-Learn](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html). 
- Train and test a naive bayes model using [Scikit-Learn](https://scikit-learn.org/stable/modules/generated/sklearn.naive_bayes.GaussianNB.html).
- Check the documentation to identify the most important hyperparameters, attributes, and methods of the model. Use them in practice.

In [8]:
import pandas as pd
import sklearn.model_selection
import sklearn.naive_bayes
import sklearn.metrics

In [4]:
df = pd.read_csv('mnist.csv')
df = df.set_index("id")
df.head()

,class,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
id,,,,,,,,,,,,,,,,,,,,,
31953,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34452,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60897,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36953,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1981,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
x = df.drop(["class"], axis = 1)
y = df["class"]
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(x, y)
print("x-train: ", x_train.shape)
print("x-test: ", x_test.shape)
print("y-train: ", y_train.shape)
print("y-test: ", y_test.shape)

x-train:  (3000, 784)
x-test:  (1000, 784)
y-train:  (3000,)
y-test:  (1000,)

In [9]:
model = sklearn.naive_bayes.GaussianNB(priors=None, var_smoothing=1e-09)
model.fit(x_train, y_train)

GaussianNB()

In [10]:
y_predicted = model.predict(x_test) 
acry = sklearn.metrics.accuracy_score(y_test, y_predicted)
acry

0.64